<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Hello, you didn`t visit us a long time!
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <p style="margin: 17px 0 0">
                Please visit our vebsite
            </p>
            <a href="{{frontUrl}}"> link to vebsite </a>
        </td>
    </tr>
</table>